<html>
    <head>
        <title>Alexander Rivaldy</title>
        <link href="/public/style.css" rel="stylesheet" />
    </head>
    <body>
        <main>
            {{{body}}}
        </main>
    </body>
</html>